<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserMapper">

    <select id="findAll" resultType="tbUsers">
        select * from tb_users
    </select>

    <insert id="addUser" parameterType="tbUsers">
        insert into tb_users values (#{id_card},#{name},#{acadmey},#{nick_name},#{city},#{province},#{avatar_url},#{gender})
    </insert>

    <delete id="removeUser" parameterType="java.lang.String">
        delete from tb_users where id_card = #{id_card}
    </delete>
</mapper>
